body {
  font-family: Arial, sans-serif;
  background: #020617;
  color: white;
  text-align: center;
  padding-top: 50px;
}

.box {
  background: #0f172a;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  margin: auto;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

#strengthBar {
  width: 100%;
  background: #333;
  border-radius: 5px;
  height: 15px;
  margin-bottom: 10px;
}

#bar {
  height: 100%;
  width: 0;
  background: red;
  border-radius: 5px;
  transition: width 0.3s;
}

#tips {
  text-align: left;
  margin-top: 10px;
}

#tips li {
  margin: 5px 0;
}
